<!DOCTYPE html>
<html>
<head>
    <title>response</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <nav>{{>menu}}</nav>
    <div class="container">
        <h1>there were {{{count}}} launches </h1>
    </div>
</body>
<html>